node_modules/
.env
*.db
*.db-journal
dist/
backend-api/dist/
settings.local.json


desktop-app/release/
desktop-app/build/
desktop-app/dist/
desktop-app/models/
desktop-app/.venv-wakeword/
desktop-app/*.spec
*.exe
